body {
    background-image: radial-gradient(circle, #e5ff00, #ffc300, #ff832a, #ff4159, #de007d, #b5007a, #8b0073, #610068, #510145, #3b072a, #230916, #000000);
color: white;
}

html {

    min-height: 100%;
    min-width: 100%;
}

.cell {
    border: 10px outset rgb(89, 89, 89);
    background-color: rgb(163, 163, 163);
    padding: 15px;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 0;
    padding: 25px;

}

.clicked {
    border: 10px inset rgb(89, 89, 89);
    background: rgb(117, 117, 117);
    color: black;
    font-size: 20px;
    padding: 10px;
    padding: 15px;
    width: 10px;
    height: 10px;
}

.board {
    margin: auto;
}

.header {
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    margin: auto;
    color: black;
    font-family: monospace;
}

.timer {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: auto;
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;

}

.gameStatus {
    background-color: black;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    font-size: 3em;
    font-family: monospace;
    text-align: center;
    display: none;
}

button {
    height: fit-content;
    width: fit-content;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 30px;
    border: 3px solid white;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.buttons {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 20px;
}